<script type="text/javascript">
	function set_cookie_lp(lp_str){
		document.cookie = "lp_name=" + escape(lp_str);
		window.location.reload();
	}
</script>
<div class="foot">
	<a href="about/about.html">{echo:lp{pu_about_us};/}</a>
	<a href="about/privacy.html">{echo:lp{pu_privacy};/}</a>
	<span>{echo:lp{pu_author};/}</span>
Powered by <strong>iW<b>anted</b></strong>  &nbsp;&nbsp;&nbsp;&copy;2009-2013</div>
</div>
<div style="display: none;" class="emBg" id="face_list_menu"></div>
<div id="append_parent"></div>